extends ../_shared/_master
block body
    if authorizedUser
        a(href="/ticket/merge-ticket")
            | Add Ticket

    table.table.table-hover
        thead
            tr 
                th
                    | Open
                th
                    | Group
                th
                    | Fixer Name
                th
                    | Title
                th
                    | Status
                th
                    | Create Date
                th
                    | Last Change Date
        tbody
            each ticket in tickets
                tr
                    td
                        a(href="/ticket/get-ticket?id=" + ticket._id)
                            | Open
                    td= ticket.group
                    td= ticket.ticketFixer
                    td= ticket.title
                    td= ticket.status
                    td= ticket.createDate
                    td= ticket.lastChangeDate
        